@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
* {
  box-sizing: border-box;
}

ul {
  padding-left: 1.5rem;
}

 /*  body {
  font-family: "Poppins", sans-serif;
  color: #333;
  background-color: snow;
  margin: 0 auto;
  max-width: 1000px;
} */
.item h1 {color: antiquewhite;}

.item {
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.397);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 6px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

.height-50 {
  height: 50vh;
}

.container1 {
  display: grid;
  height: 100vh;
  grid-template-rows:auto 1fr auto;

}
.container-social {
  display: flex;
  justify-content: center;
           
}
 /*
.soundcloud1 {
  width: 615px;
  height: 244px;
  background: url("../images/soundcloud1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1225px;
  left: 998px;
  overflow: hidden;
}
.soundcloud2 {
  width: 612px;
  height: 244px;
  background: url("../images/soundcloud2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1225px;
  left: 368px;
  overflow: hidden;
}
.ruzelzakirov {
  width: 855px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 169px;
  left: 560px;
  font-family: Sedgwick Ave;
  font-weight: Regular;
  font-size: 144px;
  opacity: 1;
  text-align: center;
}
.v3_1 {
  width: 944px;
  height: 94px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 515px;
  border: 3px solid rgba(0,0,0,1);
  overflow: hidden;
}
.facebook {
  width: 45px;
  height: 45px;
  background: url("../images/facebook.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 54px;
  left: 1017px;
  overflow: hidden;
}
.instagram{
  width: 45px;
  height: 45px;
  background: url("../images/instagram.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 54px;
  left: 915px;
  overflow: hidden;
}
.youtube {
  width: 45px;
  height: 45px;
  background: url("../images/youtube.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 54px;
  left: 813px;
  overflow: hidden;
}
.bandcamp {
  width: 45px;
  height: 45px;
  background: url("../images/bandcamp.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 54px;
  left: 704px;
  overflow: hidden;
}
.soundcloudicon {
  width: 59px;
  height: 54px;
  background: url("../images/soundcloudicon.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 52px;
  left: 588px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.soundcloudiconframe {
  width: 45px;
  height: 42px;
  background: rgba(255,255,255,0);
  opacity: 1;
  position: absolute;
  top: 57px;
  left: 595px;
  border: 3px solid rgba(0,0,0,1);
  overflow: hidden;
}
 */
