html {
  padding-left: 1%;
  padding-right: 1%;
}
body {
  font-family: sans-serif;
  background: #000000;
}
header {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}
h2 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  }
.bg-img {
  display: flex;
  justify-content: center;

  background-image: url("ruzel.png");
  background-repeat: no-repeat;
  background-position-x: 42%;
  background-position-y: 50%;
  background-size: 40%;
}
span:nth-child(3) {
  align-self: flex-end;
}
main {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
}
footer {
  display: flex;
  justify-content: center;
}
li {
  margin: 10px 30px;
  font-size: 40px;
  padding: 20px 20px;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  transition: 0.5s;
  animation-name: fadeIn;
  animation-duration: 5s;
}
li a {
  color: rgb(255, 255, 255);
}
li:hover a {
  color: #000000;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 0;
  margin-block-end: 0%;
  margin-inline-start: 0%;
  margin-inline-end: 5%;
  padding-inline-start: 0%;
}
ul li a {
  background: #00000000;
  padding-top: 5%;
  padding-right: 20%;
  padding-bottom: 5%;
  padding-left: 20%;
}
ul li:hover a {
  background: white;
  padding-top: 5%;
  padding-right: 20%;
  padding-bottom: 5%;
  padding-left: 20%;
  border-radius: 20%;
}
nav {
  width: 100%;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 1%;
  padding-right: 1%;
}
nav ul li {
  list-style: none;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-basis: 11.111111%;
}
nav ul li a {
  display: block;
}
