html {
  padding-left: 1%;
  padding-right: 1%;
}
body {
  font-family: Source Sans Pro;
  background: #000000;
}
header {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.bg-img {
  display: flex;
  justify-content: center;
  background-image: url("ruzel.png");
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: 25%;
}
span:nth-child(3) {
  align-self: flex-end;
}
main {
  border: 7px dashed rgba(255, 255, 255, 0.041);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
}
footer {
  display: flex;
  justify-content: center;
}
li {
  list-style: none;

  font-size: 5vw;

  color: rgb(255, 255, 255);
  border-radius: 10px;
  transition: 1s;
  animation-name: fadeIn;
  animation-duration: 1s;
}
li a {
  color: rgb(255, 255, 255);
}
li:hover a {
  color: #000000;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
ul li a {
  background: #000000;
  padding-top: 5%;
  padding-right: 20%;
  padding-bottom: 5%;
  padding-left: 20%;
}
ul li:hover a {
  background: white;
  padding-top: 5%;
  padding-right: 20%;
  padding-bottom: 5%;
  padding-left: 20%;
}
nav {
  width: 100%;
}
nav ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 3%;
  padding-right: 3%;
  border: 7px dashed rgba(255, 255, 255, 0.041);
}
nav ul li {
  list-style: none;
  text-align: center;
  display: flex;
  flex-basis: 11.111111%;
}
nav ul li a {
  display: block;
}
