body {
	font-family: Source Sans Pro;
	background: #282828;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	animation: Gradient 15s ease infinite;
}

@keyframes fadeIn {
	from {
	  opacity: 0;
	}
	to {
	  opacity: 1;
	}
  }
@-webkit-keyframes Gradient {
	0% {
	   background-position: 0% 50%
	}
	50% {
	background-position: 100% 50%
	}
	100% {
	background-position: 0% 50%
	}
}
h1 {
    font-weight: lighter;
    font-size: 70px;
    color: #fff;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
	}
p {
    color: #fff;
    text-align: center;
    font-family: Source Sans Pro;
    font-weight: lighter;
    font-size: 20px;
    margin-top: 0;
}
.media {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-53%, -50%);
}

li {
	list-style: none;
	margin: 10px 30px;
	display: inline-block;
	font-size: 40px;
	padding: 20px 20px;
	color: rgb(255, 255, 255);
	
	border-radius: 20%;
	
transition: .5s;
	animation-name: fadeIn;
	animation-duration: 15s;
}
li:hover {
	color: #cf0c57;	
	
}













