body {
	font-family: Source Sans Pro;
	background: #282828;
	background: linear-gradient(-45deg, #de46e4c7, #8b69f8,#E73C7E,#EE7752);
	background-size: 400% 400%;
	animation: Gradient 20s ease infinite;
	}

@keyframes fadeIn {
	from {
	  opacity: 0;
	}
	to {
	  opacity: 1;
	}
  }
@-webkit-keyframes Gradient {
	0% {
	   background-position: 0% 50%
	}
	50% {
	background-position: 100% 50%
	}
	100% {
	background-position: 0% 50%
	}
}


h1 {
    font-weight: lighter;
    font-size: 70px;
    color: #fff;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
	border: 7px dashed rgba(255, 255, 255, 0.041);
	border-top: 0px;
	border-bottom: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	}
main {
	border: 7px dashed rgba(255, 255, 255, 0.041);
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	
}
footer {
	display: flex;
	justify-content: center;
}

.iframe-container{
	position: relative;
	width: 100%;
	padding-bottom: 56.25%; 
	height: 0;
  }

.iframe-container iframe{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
  }

li {
	list-style: none;
	margin: 10px 30px;
	display: flex;
	justify-content: center;
	font-size: 30px;
	padding: 20px 20px;
	color: rgb(255, 255, 255);
	border-radius: 10px;
	transition: .50s;
	animation-name: fadeIn;
	animation-duration: 5s;
}
li a { color: rgb(255, 255, 255)}
li:hover a { color: #cf0c57e8; }
ul {
	padding-inline-start: 0px;
	}
ul li:hover {
	background: white;
	color: #cf0c57;
  }
  
nav {
    width: 100%;
	
	}

nav ul {
    display: flex;
    justify-content: space-between;
	flex-wrap: wrap;
	
	border: 7px dashed rgba(255, 255, 255, 0.041);
}

nav ul li {
    list-style: none;
    text-align: center;
	display: flex;
	flex-basis: 11.111111%;

}

nav ul li a {
    display: block;
}

  
  















