body {
	font-family: Source Sans Pro;
	background: #000000;
	}
header {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row-reverse;
	flex-wrap: wrap;
}
.logo {
	display: flex;
	justify-content: center;
    flex-wrap: wrap;
}
.bg-img {
	background-image: url('ruzel.png');
background-repeat:no-repeat;
background-position-x: 50%;
background-position-y: 50%;
background-size: 25%;
 }
span:nth-child(3) {
align-self: flex-end;
}
main {
	border: 7px dashed rgba(255, 255, 255, 0.041);
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	text-align: center;
}
footer {
	display: flex;
	justify-content: center;
}
li {
	list-style: none;

	display: flex;
	justify-content: center;
	font-size: 30px;
	
	color: rgb(255, 255, 255);
	border-radius: 10px;
	
}
li a { color: rgb(255, 255, 255)}
li:hover a {
	 color: #000000;
	  margin: 0px 0px;
	 padding: 20px 20px;
	 }

ul {
	padding: 20px 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	}
ul li:hover a {
	background: white;
	padding: 20px 20px;
	display: flex;
	justify-content: center;
	align-items: center;
  }
nav {
    width: 100%;
	
	}
nav ul {
    display: flex;
    justify-content: space-between;
	flex-wrap: wrap;
	
	border: 7px dashed rgba(255, 255, 255, 0.041);
}
nav ul li {
    list-style: none;
    text-align: center;
	display: flex;
	flex-basis: 11.111111%;
}
nav ul li a {
    display: block;
}

  
  















