body {
	font-family: Source Sans Pro;
	background: #282828;
	background: linear-gradient(-45deg, #de46e4c7, #23a5d59b,#E73C7E,#EE7752);
	background-size: 400% 400%;
	animation: Gradient 15s ease infinite;

	
}
.container1 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
   }
 
  
.wrapper {
	position: relative;
	overflow: hidden;
	padding-top: 56.25%;
}
.wrapper iframe {
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	}

.box-border {
	
	border: 7px dashed rgba(255, 255, 255, 0.041);
	  }
	 
.box-border-solid {
		
		border: 4px solid rgba(255, 255, 255, 0.157);
	  }

@keyframes fadeIn {
	from {
	  opacity: 0;
	}
	to {
	  opacity: 1;
	}
  }
@-webkit-keyframes Gradient {
	0% {
	   background-position: 0% 50%
	}
	50% {
	background-position: 100% 50%
	}
	100% {
	background-position: 0% 50%
	}
}
h1 {
    font-weight: lighter;
    font-size: 70px;
    color: #fff;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
	}

li {
	list-style: none;
	margin: 10px 30px;
	display: inline-block;
	font-size: 40px;
	padding: 20px 20px;
	color: rgb(255, 255, 255);
	border-radius: 45%;
	transition: .50s;
	animation-name: fadeIn;
	animation-duration: 15s;
}
li a { color: rgb(255, 255, 255) }
li:hover a { color: #cf0c57e8; }
ul {
	padding-inline-start: 0px;
	}
ul li:hover {
	background: white;
	color: #cf0c57;
  }
  
nav {
    width: 100%;
}

nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 20;
}

nav ul li {
    list-style: none;
    flex-grow: 4;
    text-align: center;
}

nav ul li a {
    display: block;
}

  
  















