body {
	font-family: Source Sans Pro;
	background: #000000;
	}
header {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row-reverse;
	flex-wrap: wrap;
}
.logo {
	display: flex;
	justify-content: center;
    flex-wrap: wrap;
}
.bg-img {
	background-image: url('ruzel.png');
background-repeat:no-repeat;
background-position-x: 48%;
background-position-y: 75%;
background-size:14vw;
 }
span:nth-child(3) {
align-self: flex-end;
}
main {
	border: 7px dashed rgba(255, 255, 255, 0.041);
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	text-align: center;
}
footer {
	display: flex;
	justify-content: center;
}
li {
	list-style: none;
	margin: 10px 30px;
	display: flex;
	justify-content: center;
	font-size: 30px;
	padding: 20px 20px;
	color: rgb(255, 255, 255);
	border-radius: 10px;
	transition: .50s;
	animation-name: fadeIn;
	animation-duration: 5s;
}
li a { color: rgb(255, 255, 255)}
li:hover a { color: #000000; }
ul {
	padding-inline-start: 0px;
	}
ul li:hover {
	background: white;
	color: #cf0c57;
  }
nav {
    width: 100%;
	
	}
nav ul {
    display: flex;
    justify-content: space-between;
	flex-wrap: wrap;
	
	border: 7px dashed rgba(255, 255, 255, 0.041);
}
nav ul li {
    list-style: none;
    text-align: center;
	display: flex;
	flex-basis: 11.111111%;
}
nav ul li a {
    display: block;
}

  
  















